In [47]:
import pandas as pd
import numpy as np
matched_1st = pd.read_excel('./external/tHFA-malawi_indicatormatching.xlsx')
matched_1st = matched_1st.set_index('q100')
iqvia = pd.read_csv('./output/tHFA-malawi-analysis_v1.3.csv')
iqvia = iqvia.set_index('Q100')

In [48]:
lab = pd.read_excel('./external/Lab5-Differences.xlsx',sheet_name=1,index_col=0)
lab = lab[['test-capac','Lab5']]
lab['Lab5'] = lab['Lab5'] * 100
lab

            test-capac       Lab5
Q100
MWI_000193   55.555556  55.555556
MWI_001282   42.307692  40.740741
MWI_000166   37.037037  37.037037
MWI_001312   62.962963  62.962963
MWI_001109         NaN        NaN
...                ...        ...
MWI_001428   55.555556  55.555556
MWI_000122   51.851852  51.851852
MWI_000529   85.185185  85.185185
MWI_000496   48.148148  48.148148
MWI_000273   36.363636  36.363636

[120 rows x 2 columns]

In [49]:
iqvia.columns

Index(['Q102', 'Q105', 'Q106', 'Q105_a', 'Q113', 'Q113_A', 'Q116', 'Q116_A',
       'Q117', 'Q118', 'tHFA_A001', 'tHFA_A002', 'HIV', 'TB', 'Malaria', 'ANC',
       'Immu', 'Quality_Score', 'HW_Competence_Score', 'HW_Check', 'ANC_score',
       'ART_score', 'TB_score', 'Patient_Centeredness_Score', 'PC_Check',
       'iss_score', 'iss_check', 'fac_iss', 'fac_stats', 'fac_group_PS',
       'fac_comms_data', 'HTM-ANC', 'hiv testing', 'ART access', 'iptp scores',
       'TB screening', 'system_CHW_score', 'chw_show', 'chw_iss',
       'chw_contract', 'chw_paid', 'chw_tools', 'facility_composite',
       'HTM-ANC.1', 'presence_score', 'caseload', 'ANC_score.1', 'DPT_score',
       'TB_treatment_completion', 'ART_retention', 'CHW_paid', 'CHW_scores',
       'CLM_score', 'guideline_score', 'guide_HIV', 'guide_TB',
       'guide_malaria', 'guide_anc', 'guide_immu', 'guide_imci',
       'oxygen_score', 'oxygen_avl', 'oxygen_avo', 'test-capac',
       'test-capac_check', 'with lab', 'without lab', 'vacancy_score',
       'all_funded_posts', 'all_unfilled_posts'],
      dtype='object')

In [50]:
matched_1st.columns[-60:]

Index(['all_unfilled_posts', 'hiv_guidelines', 'art_guidelines',
       'tb_guidelines', 'mal_guidelines', 'anc_guidelines', 'imm_guidelines',
       'imci_guidelines', 'valid_services_hsg',
       'guidelines_avail_services_hsg', 'hsg_indicator', 'oxy_avl', 'oxy_avo',
       'rcs_1', 'test_wo_lab', 'test_w_lab', 'lab_5', 'hrh_1',
       'hrh_1_physician', 'hrh_1_nurse', 'hrh_1_labtech', 'hrh_1_pharma',
       'hrh_1_chw', 'hrh_5_att1', 'tot_services', 'flag_htm', 'hiv_content',
       'tb_content', 'mal_content', 'anc_content', 'imm_content',
       'child_content', 'any_content', 'hrh_5_att2', 'hrh_5_att3',
       'hrh_5_att4', 'hrh_5_att5', 'miss_att', 'hrh_5_tot', 'valid_att',
       'hrh_5', 'css_3_1', 'css_3_2', 'css_3_3', 'css_3_4', 'css_3_5',
       'css_3_6', 'css_3_total', 'css_3', 'flag_hrh6_1', 'prov_avail',
       'hrh_6_att2', 'avg_opd', 'flag_opd', 'hrh_6_att3', 'flag_hrh6_2',
       'hrh_6_att5', 'hrh_o1_att1', 'hrh_o1_att2', '_merge'],
      dtype='object')

In [54]:
matched_1st[['flag_hrh6_1', 'prov_avail',
       'hrh_6_att2', 'avg_opd', 'flag_opd', 'hrh_6_att3']]

,flag_hrh6_1,prov_avail,hrh_6_att2,avg_opd,flag_opd,hrh_6_att3
q100,,,,,,
MWI_000007,0,1.000000,0.000000,172.000000,0,100.0
MWI_000011,0,1.000000,0.000000,56.400002,0,100.0
MWI_000019,0,1.000000,0.000000,16.799999,0,100.0
MWI_000053,0,0.933333,6.666666,473.200012,1,100.0
MWI_000107,0,0.500000,50.000000,405.799988,1,100.0
...,...,...,...,...,...,...
MWI_001504,0,1.000000,0.000000,200.399994,0,100.0
MWI_001509,0,0.777778,22.222221,591.200012,1,100.0
MWI_001522,0,1.000000,0.000000,295.399994,1,100.0
MWI_001542,0,NaN,NaN,310.600006,0,100.0
MWI_001563,0,0.750000,25.000000,146.800003,0,100.0

In [51]:
oxy_i = ['oxygen_score', 'oxygen_avl', 'oxygen_avo']
oxy = ['oxy_avl','oxy_avo',	'rcs_1']
lab_i = ['test-capac']
lab = ['lab_5']
guide = ['hiv_guidelines', 'art_guidelines',
       'tb_guidelines', 'mal_guidelines', 'anc_guidelines', 'imm_guidelines',
       'imci_guidelines', 'valid_services_hsg',
       'guidelines_avail_services_hsg', 'hsg_indicator',]
guide_i = ['guideline_score', 'guide_HIV', 'guide_TB',
       'guide_malaria', 'guide_anc', 'guide_immu', 'guide_imci']

In [52]:
tgf = guide
iqv = guide_i

see = pd.merge(iqvia[iqv],matched_1st[tgf],left_index=True,right_index=True)
# see = pd.merge(iqvia[iqv],lab,left_index=True,right_index=True)

see
see[round(see['guideline_score'])!=round(see['hsg_indicator'])]

,guideline_score,guide_HIV,guide_TB,guide_malaria,guide_anc,guide_immu,guide_imci,hiv_guidelines,art_guidelines,tb_guidelines,mal_guidelines,anc_guidelines,imm_guidelines,imci_guidelines,valid_services_hsg,guidelines_avail_services_hsg,hsg_indicator
MWI_000193,57.142857,100.0,0.0,0.0,100.0,0.0,100.0,100,100.0,0.0,100,100.0,0.0,100.0,7,500,71.428574
MWI_000166,100.000000,100.0,100.0,100.0,NaN,100.0,100.0,100,NaN,0.0,100,NaN,100.0,100.0,5,400,80.000000
MWI_001312,100.000000,100.0,100.0,100.0,100.0,100.0,100.0,100,100.0,0.0,100,100.0,100.0,100.0,7,600,85.714287
MWI_001109,28.571429,0.0,0.0,0.0,0.0,100.0,100.0,0,0.0,100.0,0,100.0,100.0,100.0,7,400,57.142857
MWI_001356,100.000000,100.0,100.0,100.0,100.0,100.0,100.0,100,100.0,0.0,100,100.0,100.0,100.0,7,600,85.714287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MWI_000542,0.000000,0.0,NaN,0.0,0.0,0.0,0.0,0,100.0,NaN,0,0.0,0.0,100.0,6,200,33.333332
MWI_000528,57.142857,100.0,0.0,0.0,100.0,100.0,0.0,100,100.0,0.0,100,100.0,100.0,100.0,7,600,85.714287
MWI_000122,57.142857,100.0,100.0,0.0,100.0,0.0,0.0,100,100.0,0.0,0,100.0,100.0,100.0,7,500,71.428574
MWI_000496,100.000000,100.0,100.0,100.0,100.0,100.0,100.0,100,100.0,0.0,100,100.0,100.0,100.0,7,600,85.714287
MWI_000273,14.285714,100.0,0.0,0.0,0.0,0.0,0.0,100,100.0,100.0,0,0.0,100.0,100.0,7,500,71.428574