# Matching Notebook Between IQVIA and TGF data

## Data loading

In [2]:
import pandas as pd
import numpy as np
matched_1st = pd.read_excel('./external/tHFA_malawi_anaylsis_check.xlsx')
matched_1st = matched_1st.set_index('q100')
iqvia = pd.read_csv('./output/tHFA-malawi-analysis_v1.4.csv')
iqvia = iqvia.set_index('Q100')

In [2]:
lab = pd.read_excel('./external/Lab5-Differences.xlsx',sheet_name=1,index_col=0)
lab = lab[['test-capac','Lab5']]
lab['Lab5'] = lab['Lab5'] * 100
lab

            test-capac       Lab5
Q100
MWI_000193   55.555556  55.555556
MWI_001282   42.307692  40.740741
MWI_000166   37.037037  37.037037
MWI_001312   62.962963  62.962963
MWI_001109         NaN        NaN
...                ...        ...
MWI_001428   55.555556  55.555556
MWI_000122   51.851852  51.851852
MWI_000529   85.185185  85.185185
MWI_000496   48.148148  48.148148
MWI_000273   36.363636  36.363636

[120 rows x 2 columns]

In [3]:
iqvia.columns

Index(['Q102', 'Q105', 'Q106', 'Q105_a', 'Q113', 'Q113_A', 'Q116', 'Q116_A',
       'Q117', 'Q118', 'tHFA_A001', 'tHFA_A002', 'HIV', 'TB', 'Malaria', 'ANC',
       'Immu', 'Quality_Score', 'HW_Competence_Score', 'HW_Check', 'ANC_score',
       'ART_score', 'TB_score', 'Patient_Centeredness_Score', 'PC_Check',
       'iss_score', 'iss_check', 'fac_tech', 'fac_stats', 'fac_group_PS',
       'fac_comms_data', 'HTM-ANC', 'hiv testing', 'ART access', 'iptp scores',
       'TB screening', 'system_CHW_score', 'chw_show', 'chw_iss',
       'chw_contract', 'chw_paid', 'chw_tools', 'facility_composite',
       'HTM-ANC.1', 'presence_score', 'caseload', 'ANC_score.1', 'DPT_score',
       'TB_treatment_completion', 'ART_retention', 'CHW_paid', 'CHW_scores',
       'CLM_score', 'guideline_score', 'guide_HIV', 'guide_TB',
       'guide_malaria', 'guide_anc', 'guide_immu', 'guide_imci',
       'oxygen_score', 'oxygen_avl', 'oxygen_avo', 'test-capac',
       'test-capac_check', 'with lab', 'without lab', 'vacancy_score',
       'all_funded_posts', 'all_unfilled_posts'],
      dtype='object')

In [17]:
matched_1st.columns[-100:]

Index(['vacancy_score', 'all_funded_posts', 'all_unfilled_posts',
       'hiv_guidelines', 'art_guidelines', 'tb_guidelines', 'mal_guidelines',
       'anc_guidelines', 'imm_guidelines', 'imci_guidelines',
       'valid_services_hsg', 'guidelines_avail_services_hsg', 'hsg_indicator',
       'oxy_avl', 'oxy_avo', 'rcs_1', 'test_wo_lab', 'test_w_lab', 'lab_5',
       'hrh_1', 'hrh_1_physician', 'hrh_1_nurse', 'hrh_1_labtech',
       'hrh_1_pharma', 'hrh_1_chw', 'hrh_5_att1', 'tot_services', 'flag_htm',
       'hiv_content', 'tb_content', 'mal_content', 'anc_content',
       'imm_content', 'child_content', 'any_content', 'hrh_5_att2',
       'hrh_5_att3', 'hrh_5_att4', 'hrh_5_att5', 'miss_att', 'hrh_5_tot',
       'valid_att', 'hrh_5', 'css_3_1', 'css_3_2', 'css_3_3', 'css_3_4',
       'css_3_5', 'css_3_6', 'css_3_total', 'css_3', 'flag_hrh6_1',
       'prov_avail', 'hrh_6_att2', 'avg_opd', 'flag_opd', 'hrh_6_att3',
       'flag_hrh6_2', 'hrh_6_att5', 'hrh_o1_att1', 'hrh_o1_att2',
       'hrh_7_anc_rr_score1', 'hrh_7_anc_rr_score2', 'hrh_7_anc_rr_score3',
       'hrh_7_anc_rr_score4', 'hrh_7_anc_rr_score5', 'hrh_7_art_rr_score1',
       'hrh_7_art_rr_score2', 'hrh_7_art_rr_score3', 'hrh_7_art_rr_score4',
       'hrh_7_art_rr_score5', 'hrh_7_tb_rr_score1', 'hrh_7_tb_rr_score2',
       'hrh_7_tb_rr_score3', 'hrh_7_tb_rr_score4', 'hrh_7_tb_rr_score5',
       'hrh_7_d1_score', 'hrh_7_d1_merge', 'hrh_7_pei_rr', 'hrh_7_d2_comms',
       'hrh_7_d2_resp', 'hrh_7_d2_auto', 'hrh_7_d2_conf', 'hrh_7_d2_social',
       'hrh_7_d2_diag', 'hrh_7_d2_danger', 'hrh_7_d2_rude',
       'hrh_7_d2_challenge', 'hrh_7_pei_merge', 'hrh_7_d2_score',
       'hrh_7_score', 'kpi_s5_a1', 'kpi_s5_a2', 'kpi_s5_a3', 'kpi_s5_a4',
       'kpi_s5', '_merge', 'hrh_7_anc_avg', 'hrh_7_art_avg', 'hrh_7_tb_avg'],
      dtype='object')

## Testing

In [6]:
test = ['MWI_000193', 'MWI_001282','MWI_000166', 'MWI_001312', 'MWI_001109']

In [67]:
oxy_i = ['oxygen_score', 'oxygen_avl', 'oxygen_avo']
oxy = ['oxy_avl','oxy_avo',	'rcs_1']
lab_i = ['test-capac']
lab = ['lab_5']
guide = ['hiv_guidelines', 'art_guidelines',
       'tb_guidelines', 'mal_guidelines', 'anc_guidelines', 'imm_guidelines',
       'imci_guidelines', 'valid_services_hsg',
       'guidelines_avail_services_hsg', 'hsg_indicator',]
guide_i = ['guideline_score', 'guide_HIV', 'guide_TB',
       'guide_malaria', 'guide_anc', 'guide_immu', 'guide_imci']

# ISS comparison
iss_i = ['iss_score', 'iss_check', 'fac_tech', 'fac_stats', 'fac_group_PS',
       'fac_comms_data',]
iss = ['hrh_5_att2','hrh_5_att3', 'hrh_5_att4', 'hrh_5_att5', 'hrh_5',]

# CHW comparison
chw_i = ['system_CHW_score', 'chw_show', 'chw_iss',
       'chw_contract', 'chw_paid', 'chw_tools']
chw = ['kpi_s5_a1', 'kpi_s5_a2', 'kpi_s5_a3',
       'kpi_s5_a4', 'kpi_s5',]

# High Quality Services
hq_i = ['Quality_Score', 'HW_Competence_Score', 'HW_Check', 'ANC_score',
       'ART_score', 'TB_score', 'Patient_Centeredness_Score', 'PC_Check',]
hq = ['hrh_7_d1_score',
       'hrh_7_d2_score', 'hrh_7_score',]

### High Quality Services

In [4]:
tgf = hq
iqv = hq_i

see = pd.merge(iqvia[iqv],matched_1st[tgf],left_index=True,right_index=True)
# see = pd.merge(iqvia[iqv],lab,left_index=True,right_index=True)

NameError: name 'hq' is not defined

In [25]:
comp_i = 'Patient_Centeredness_Score'
comp = 'hrh_7_d2_score'
like = see.loc[test]
see[round(see[comp_i]) != round(see[comp])][[comp_i,comp]]
# like[[comp_i,comp]]
# like

            Patient_Centeredness_Score  hrh_7_d2_score
MWI_000166                   73.333333       70.000000
MWI_001167                   61.061508       63.561508
MWI_001019                   57.430556       59.930557
MWI_000299                   60.476190       62.500000
MWI_000019                         NaN             NaN
MWI_001563                   71.111111       80.000000
MWI_000350                   54.513889       55.763889
MWI_000528                   73.888889       78.333336

In [29]:
print("This is the hrh_7_country_average from TGF: ", np.nanmean(see['hrh_7_score']),"and from IQVIA: ",np.nanmean(see['Quality_Score']))
print("hrh_7_d1_country_average from TGF: ", np.nanmean(see['hrh_7_d1_score']),"and from IQVIA: ",np.nanmean(see['HW_Competence_Score']))
print("hrh_7_d1_country_average from TGF: ", np.nanmean(see['hrh_7_d2_score']),"and from IQVIA: ",np.nanmean(see['Patient_Centeredness_Score']))

This is the hrh_7_country_average from TGF:  60.11918179194132 and from IQVIA:  60.04304114971728
hrh_7_d1_country_average from TGF:  49.80404421488444 and from IQVIA:  49.804044160104766
hrh_7_d1_country_average from TGF:  70.71247937498974 and from IQVIA:  70.55891801164911

In [24]:
# # Do this this the updated version of Pankkuri's data

# comp_i = 'HW_Competence_Score'
# comp = 'hrh_7_d1_score'
# see[round(see[comp_i])!= round(see[comp])][[comp_i,comp]]

### ISS scores

In [11]:
tgf = iss
iqv = iss_i

see = pd.merge(iqvia[iqv],matched_1st[tgf],left_index=True,right_index=True)
# see = pd.merge(iqvia[iqv],lab,left_index=True,right_index=True)

In [12]:
comp_i = 'iss_score'
comp = 'hrh_5'
see[round(see[comp_i]) != round(see[comp])][[comp_i,comp]]

Empty DataFrame
Columns: [iss_score, hrh_5]
Index: []

### CHW scores

In [14]:
tgf = chw
iqv = chw_i
see = pd.merge(iqvia[iqv],matched_1st[tgf],left_index=True,right_index=True)
# see = pd.merge(iqvia[iqv],lab,left_index=True,right_index=True)
# see['kpi_s5_a1'] = see['kpi_s5_a1'] * 100
comp_i = 'chw_iss'
comp = 'kpi_s5_a1'
see[round(see[comp_i]) != round(see[comp])][[comp_i,comp]]

            chw_iss   kpi_s5_a1
MWI_001109     80.0  100.000000
MWI_000570     20.0   60.000004
MWI_001168    100.0   80.000000
MWI_000339     20.0   60.000004
MWI_000914     20.0   40.000000
...             ...         ...
MWI_001226      0.0   20.000000
MWI_000877      0.0  100.000000
MWI_001428     60.0   80.000000
MWI_000529     80.0   40.000000
MWI_000273     20.0    0.000000

[63 rows x 2 columns]

## Nigeria Matching

In [97]:
import pandas as pd
import numpy as np
matched_nig = pd.read_excel('./external/TGF_Nigeria_v2.xlsx')
matched_nig = matched_nig.set_index('q100')
iqvia = pd.read_csv('./output/NGA/tHFA-nigeria-analysis_v2.3.csv')
iqvia = iqvia.set_index('Q100')

In [121]:
# ISS comparison
iss_i = ['iss_score', 'iss_check', 'fac_tech', 'fac_stats', 'fac_group_PS',
       'fac_comms_data',]
iss = ['hrh_5_att2','hrh_5_att3', 'hrh_5_att4', 'hrh_5_att5', 'hrh_5',]

# CHW comparison
chw_i = ['system_CHW_score', 'chw_show', 'chw_iss',
       'chw_contract', 'chw_paid', 'chw_tools']
chw = ['kpi_s5_a1', 'kpi_s5_a2', 'kpi_s5_a3',
       'kpi_s5_a4', 'kpi_s5',]

# High Quality Services
hq_i = ['Quality_Score', 'HW_Competence_Score', 'HW_Check', 'ANC_score',
       'ART_score', 'TB_score', 'Patient_Centeredness_Score', 'PC_avg_Communication',
       'PC_avg_Respect','PC_avg_Autonomy','PC_avg_Confidentiality', 'PC_avg_Social support', 
       'PC_avg_HW told', 'PC_avg_Danger signs', 'PC_avg_Rudeness', 'PC_avg_Challenges' ]
hq = ['hrh_7_d1_score', 'hrh_7_anc_mean', 'hrh_7_art_mean', 'hrh_7_tb_mean',
       'hrh_7_d2_score', 'hrh_7_score','hrh_7_d2_comms', 'hrh_7_d2_resp', 'hrh_7_d2_auto', 'hrh_7_d2_conf','hrh_7_d2_social', 'hrh_7_d2_diag', 'hrh_7_d2_danger', 'hrh_7_d2_rude', 'hrh_7_d2_challenge'
]

# Guide comparison
guide = ['hiv_guidelines', 'art_guidelines',
       'tb_guidelines', 'mal_guidelines', 'anc_guidelines', 'imm_guidelines',
       'imci_guidelines', 'valid_services_hsg',
       'guidelines_avail_services_hsg', 'hsg_indicator',]
guide_i = ['guideline_score', 'guide_HIV_test','guide_ART', 'guide_TB',
       'guide_malaria', 'guide_anc', 'guide_immu', 'guide_imci']

# Effective services comparison
effect = [ 'hrh_6_att2', 'avg_opd', 'hrh_6_att3',
       'hrh_6_att5','v60','v64','v57']
effect_i = ['facility_composite', 'presence_score', 'caseload',
       'DPT_score', 'TB_treatment_completion', 'ART_retention',]

In [ ]:
matched_nig.columns[-110:-20]

In [123]:
interest = effect

tgf = effect
iqv = effect_i
# check = ['PC_avg_Danger signs', 'PC_avg_Rudeness', 'PC_avg_Challenges','hrh_7_d2_danger', 'hrh_7_d2_rude', 'hrh_7_d2_challenge']
# check = ['Quality_Score','hrh_7_score','HW_Competence_Score','hrh_7_d1_score','Patient_Centeredness_Score','hrh_7_d2_score',]

# check = ['Quality_Score','hrh_7_score',
#          'HW_Competence_Score','hrh_7_d1_score',
#          'ANC_score',   'ART_score', 'TB_score',
#          'hrh_7_anc_mean', 'hrh_7_art_mean', 'hrh_7_tb_mean',]

check = [tgf[-1],iqv[0],
      #    tgf[2],
      #  iqv[3]

       ]

see = pd.merge(iqvia[iqv],matched_nig[tgf],left_index=True,right_index=True)
comp_i = iqv[0]
comp = tgf[-1]

see[round(see[comp_i]) != round(see[comp])][check]

                  v64  facility_composite
NGA_000653   66.66666           63.599888
NGA_000679    0.00000           67.187500
NGA_000676    0.00000           54.444444
NGA_000690  100.00000           74.497268
NGA_000248        NaN           57.247024
...               ...                 ...
NGA_000431   50.00000           57.638889
NGA_000311    0.00000           73.134690
NGA_000154  100.00000           55.143678
NGA_000046  100.00000           48.416399
NGA_000207        NaN           88.888889

[238 rows x 2 columns]

In [50]:
file_path = "./Updated tHFA data/tHFA_NGA.xlsx"

df = pd.read_excel(file_path, header=None)
df.columns = df.iloc[0]
df = df[1:]
df.set_index('Q100', inplace=True)

In [109]:
d = ['R2419_01','R2419_03']
df.loc[['NGA_000694','NGA_000528', 'NGA_000434']][d]

0                          R2419_01                 R2419_03
Q100
NGA_000694            YES, OBSERVED            YES, OBSERVED
NGA_000528  YES, REPORTED, NOT SEEN  YES, REPORTED, NOT SEEN
NGA_000434            YES, OBSERVED            YES, OBSERVED

In [87]:
i = 3
q = [f'Q13005_1_{i}',f'Q13004_8_{i}',
                    f'Q13004_10_{i}',
                    f'Q13004_11_{i}',
                    f'Q13005_2_{i}',
                    f'Q13005_5_{i}',
                    f'Q13004_1_{i}']
df.loc['NGA_000117'][q]

0
Q13005_1_3      NO
Q13004_8_3     YES
Q13004_10_3     NO
Q13004_11_3    YES
Q13005_2_3      NO
Q13005_5_3      NO
Q13004_1_3      98
Name: NGA_000117, dtype: object

In [66]:
df['R2308_01'].unique()

array(['YES, REPORTED, NOT SEEN', 'YES, OBSERVED', nan,
       'NO/NOT AVAILABLE'], dtype=object)

In [65]:
f  = [f'tHFA_E02{i}_{j}' for j in [1,2,3,4,5] for i in [0,1,2,3]]
df.loc['NGA_000431'][f]

0
tHFA_E020_1                       YES
tHFA_E021_1                       YES
tHFA_E022_1                       YES
tHFA_E023_1    DONâ€™T KNOW OR NOT SURE
tHFA_E020_2                       YES
tHFA_E021_2                       YES
tHFA_E022_2                       YES
tHFA_E023_2                       YES
tHFA_E020_3                       NaN
tHFA_E021_3                       NaN
tHFA_E022_3                       NaN
tHFA_E023_3                       NaN
tHFA_E020_4                       NaN
tHFA_E021_4                       NaN
tHFA_E022_4                       NaN
tHFA_E023_4                       NaN
tHFA_E020_5                       NaN
tHFA_E021_5                       NaN
tHFA_E022_5                       NaN
tHFA_E023_5                       NaN
Name: NGA_000431, dtype: object